.tabs-container {
  width: 20%;
}

.tab-head p{
  padding: 0.8vw;
  color: #fff;
  width: 18vw;
  display: flex;
  font-size: 1.2vw;
  cursor: pointer;
  text-decoration: none;
  background-color: #7b96d1;
}
