.gov-container{
    padding: 2vw;

}
.gov-border{
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    padding: 2vw;
    border: 2px solid #ccc;
}
.gov-card{
    width: 10vw;
    padding: 0.5vw 0.6vw 0vw 0.6vw;
    box-shadow: 0 17px 8px #eceded;

}

.head-gov p{
    display: flex;
    color: red;
    font-weight: bolder;
    justify-content: center;
    font-size: 2vw;

}


.gov-month p {
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5vw;
}

.gov-read-more a{
    display: flex;
    justify-content: end;
    font-size: 1vw;
    color: black;
    text-decoration: underline;
}

.gov-other-course a{
    text-decoration: underline;
    font-size: 1.5vw;

}