.parent{
    display: flex;
    justify-content: center;
}
.square {
    display: inline-block;
    width: 27vw;
    height: 30vw;
    background: #FAFAFB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    position: relative;


}

.card-parent {
    margin-left: 2vw;
    margin-top: 2vw;
    top: 5%;
    position: absolute;
}
.card-parent h2{
    font-size: 1.5vw;
}

.list {
    display: flex;
    flex: 1;
    margin-bottom: -1.5vw;
}

.list p {
    text-transform: capitalize;
    color: rgba(0, 0, 3, 0.8);
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 1vw;
}

.circle {
    display: flex;
    width: 0.7vw;
    height: 0.7vw;
    background-color: black;
    border-radius: 50%;
    margin-top: 1.3vw;
}

.button-parent {
    display: flex;
}

.button-parent img {
    height: 1vw;
    width: 1vw;
    margin-top: 3.7vw;
    margin-left: -2.2vw;
}

.button {
    background-color: #2F4E71;
    width: 7vw;
    height: 2.4vw;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3vw;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }