.item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    border: 1px solid #F46A6F;
    margin-top: 2vw;

  }
  .item-label {
    font-size: 0.8vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

  }
  .item-heading{
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
