/* .result-section{
    width: 100%;
    position: relative;
    
} */
.square-header {
  width: 100%;
  height: 4vw;
  border-top: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.result-container-parent{
  padding: 4vw;
}

.percentage-square-dashboard-fail {
  width: 100%;
  height: 4vw;
  margin-top: -3vw;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-declared {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.percentage-square-dashboard-fail p1 {
  font-size: 0.8vw;
  color: black;
  font-family: "Poppins";
  font-weight: 900;
  vertical-align: middle;

  position: relative;
  margin-left: 8vw;
  margin-right: 8vw;
}

.result-square {
  margin-bottom: 3vw;
  border: 3px solid #ccc;
}

.square-header h2 {
  font-size: 1.7vw;
  color: black;
  font-family: "Poppins";
  font-weight: 900;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 30%;
  margin-left: 2vw;
}

.result-card-parent {
  margin-left: 4vw;
  margin-top: 2vw;
  position: relative;
}

.result-card-parent h2 {
  font-size: 2vw;
  color: #2f4e71;
  font-family: "Poppins";
  font-weight: 900;
}

.result-card-parent p {
  font-size: 0.8vw;
  color: black;
  font-family: "Poppins";
  font-weight: 900;
  margin-top: -1vw;
}

.result-button-parent button {
  display: flex;
  width: 10vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 7vw;
  font-size: 0.9vw;
}

.result-user-information-section {
  display: flex;
  align-items: center;
}

.result-user-information-section p {
  font-size: 1.2vw;
  margin-top: 2vw;
}

.student-information-section {
  display: flex;
  justify-content: space-between;
}

.section-one {
  width: 40%;
}

.section-two img {
  height: 13.5vw;
  width: 13.5vw;
  margin-right: 10vw;
}

.student-info {
  display: flex;
  margin-top: 1vw;
  line-height: 2vw;
}

.student-info p1 {
  font-size: 1.3vw;
  font-weight: 700;
  font-family: Verdana;
  width: 35%;
}

.student-info p2 {
  margin-left: 4vw;
  font-size: 1.3vw;
  font-family: Verdana;
  font-weight: 700;
}

.square-dashboard {
  margin: 3vw;
  border: 3px solid #a39a9a
}

/* .square-dashboard h2 {
  font-size: 1.2vw;
  color: white;
  font-family: "Poppins";
  font-weight: 900;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 30%;
  margin-left: 2vw;
} */

.result-fields {
  display: flex;
  justify-content: space-between;
  margin-top: -2vw;
}

.sno-examname {
  margin-top: 5vw;
}

.sno-examname p1 {
  font-size: 1.2vw;
  font-family: Verdana;
  font-weight: 900;
  color: black;
  margin-top: 5vw;
  margin-left: 5vw;
}

.other-result-fields {
  margin-top: 5vw;
}

.other-result-fields p1 {
  font-size: 1.2vw;
  font-family: Verdana;
  font-weight: 900;
  margin-top: 5vw;
  color: black;
  margin-right: 3.5vw;
}

.other-result-fields-2 p3{
  font-size: 1.2vw;
  font-family: Verdana;
  font-weight: 900;
  margin-top: 5vw;
  color: black;
  margin-right: 5vw;
} 

.result-border {
  
  border: 1.8px solid #ccc;
}
.result-border-2 {
  border: 1.8px solid #ccc;
}

.marking p1 {
  font-size: 1vw;
  font-family: Verdana;
  font-weight: 900;
  margin-top: 5vw;
  margin-left: 9.5vw;
  color: black;
}

.result-fields-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

.other-result-fields-2 p1 {
  width: 60%;
  font-size: 1vw;
  font-family: Verdana;
  font-weight: 900;
  margin-top: 5vw;
  margin-right: 10vw;
  color: black;
  position: relative;
}

.space-1 {
  display: flex;
  width: 2vw;
}

.percentage-square-dashboard {
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.percentage-square-dashboard p1 {
  font-size: 0.8vw;
  color: black;
  font-family: Verdana;
  font-weight: 900;
  vertical-align: middle;
  padding: 0.7vw;
  border: 2px solid #999494;
  position: relative;
  margin-left: 8vw;
  color: black;
  margin-right: 8vw;
}
.button-section{
  display: flex;
  gap: 5vw;
  align-items: center;
  justify-content: center;
}

.print-button {
  background-color: #2f4e71;
  width: 10vw;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 3vw;

}

.print-button p {
  text-decoration: none;
  color: white;
  font-size: 1vw;
  font-family: Verdana;

}


.logout-button {

  width: 10vw;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  height: 3vw;
  background-color: #686868;

}

.logout-button p {
  text-decoration: none;
  color: white;
  font-size: 1vw;
  font-family: Verdana;
}
