

.instruction-header h2{
    margin-top: 3vw;
    text-align: center;
    font-size: 2vw;
    color: red;
    text-decoration: underline;
}

.instruction-exam{
    padding-top: 4vw;
    padding-left: 6vw;

}

.instruction-exam-heading h3{
  font-size: 2.5vw;
  margin-bottom: 2vw;
}

.instruction-exam-list li{
    font-size: 2vw;
}

.instruction-button-parent{
    display: flex;
    justify-content: center;
    margin-top: 5vw;

}

.instruction-button {
    border-radius: 1vw;
    font-weight: 800;
    font-size: 2vw;
}