// @import url('https://fonts.googleapis.com/css?family=Poppins');

// html {
//     font-size: 62.5%;
// }

// .active {
//     background: black;
//     color: white;
//     border-radius: 2rem;
//     display: inline-block;
// }

// a {
//     text-decoration: none;
// }

// li {
//     list-style: none;
// }

// .menu-parent {
//     width: 100%;
//     height: 4vw;
//     background-color: #db2c1d;
//     display: flex;

// }

// .menu {
//     width: 90%;
//     position: absolute;
//     margin-top: 1vw;
//     margin-left: 5vw;
// }

// .menu ul {
//     width: 100%;
//     display: flex;
//     justify-content: space-evenly;

// }

// .menu ul {
//     list-style: none;
//     position: relative;
//     margin: 0;
//     padding: 0;
//     float: left;

// }

// .menu ul a {
//     color: white;
//     text-decoration: none;
//     font-size: 1.1vw;
//     font-weight: bold;
//     line-height: 2.2vw;
//     padding: 0 1vw;
//     display: block;
//     text-transform: uppercase;

// }

// .menu ul li {
//     float: left;
//     position: relative;
//     margin: 0;
//     padding: 0;

// }

// .menu ul li:hover {
//     background: black;
//     transform-origin: left;
//     color: rgba(0, 0, 3, 1);
//     text-decoration: none;
//     transition: 0.3s;
//     border-radius: 3vw;

// }

// .menu ul ul {
//     width: 12vw;
//     position: absolute;
//     background: #263342;
//     top: 100%;
//     left: 0;
//     display: none;
//     padding: 1vw;
// }

// .menu li ul li a {
//     width: 10vw;
//     color: white;
// }

// .menu li ul li:hover>a {
//     color: whitesmoke;

// }

// .menu ul ul li {
//     float: none;
//     width: 20vw;
//     border-left: 0.1vw solid #27ae60;
//     width: 10vw;

// }

// .menu ul ul li:hover {
//     border-left: 0.1vw solid #2c3e50;
// }

// .menu ul li:hover ul {
//     display: block;
//     z-index: 9;
//     background: #263342;

// }

// @media screen and (max-width: 768px) {

//   }

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@300&display=swap");

.nav-bar {
  height: 3.5vw;
  background-color: #db2c1d;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 200;

  .menu-icon {
    display: none;
    cursor: pointer;
  }

  .logo {
    img {
      height: 7vw;
    }
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .menu-items,
    .join {
      color: white;
      text-decoration: none;
      font-size: 1.1vw;
      font-weight: bolder;
      line-height: 2.2vw;
      padding: 0 1vw;
      display: block;
      margin-top: 0.7vw;
      text-transform: uppercase;


      &:hover {
        background: black;
        transform-origin: left;
        color: white;
        text-decoration: none;
        transition: 0.3s;
        border-radius: 3vw;
      }

      &.active {
        color: whitesmoke;
        border-radius: 2rem;
        display: inline-block;
      }
    }


  }

  &.menu-open {
    .menu-icon {
      display: block;
    }

    .tabs {
      display: none;

      .menu-items,
      .join {
        font-size: 4vw;
        font-weight: 600;
        margin-bottom: 7;
        font-family: "Poppins", sans-serif;
        margin-right: 20px;
        padding: 0 1vw;

        &:hover {
          color: whitesmoke;
        }
        
      }


    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-btn {
    background-color: #db2c1d;
    
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;

  }

  .dropdown-btn:hover {
    background: black;
    transform-origin: left;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 3vw;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    background-color: #263342;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: black;
    color: white;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 768px) {
    height: 8vw;

    .menu-icon {
      display: block;

      img {
        margin-top: 3px;
        height: 6vw;
        padding-left: 2vw;
      }
    }

    .logo {
      img {
        height: 15vw;
      }
    }

    .tabs {
      display: none;

    }

    &.menu-open {
      .tabs {
        display: block;
        position: absolute;
        top: 95%;
        left: 0;
        color: white;
        background-color: #db2c1d;
        width: 65%;
        height: 220vw;
        padding: 1rem 1.4rem;
        z-index: 1;

        .menu-items {
          margin-bottom: 20px;
        }
      }
    }


    .dropdown-btn {
      background-color: #db2c1d;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 4vw;
      padding: 0;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}