.fotter-container {
  padding: 0.1vw 3vw;
  background-color: #4e6db9;
}

.fotter-parent {
  display: flex;
  justify-content: space-between;
}

.fotter-touch h1 {
  text-decoration: underline;
  font-size: 1.5vw;
  letter-spacing: 2px;
  color: white;
}

.fotter-touchs h1 {
  text-decoration: underline;
  font-size: 1.5vw;
  letter-spacing: 2px;
  text-align: end;
  color: white;
}

.fotter-div-2 {
  margin-top: 3vw;
}

.fotter-icon {
  margin-top: 4.5vw;
}

.footer-social-media-parent {
  display: flex;
}

.footer-social-media-circle {
  display: flex;
  width: 3.5vw;
  height: 3.5vw;
  background: white;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 1vw;
  margin-right: 1.5vw;
}

.footer-social-media-img-size img {
  max-height: 50%;
  max-width: 50%;
}

.fotter-point p {
  color: white;
  letter-spacing: 2px;
  font-size: 1.2vw;
}

.bottom-fotter p {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 1vw;
  text-decoration: none;
}

.fotter-3-text {
  margin-top: 4vw;
}

.fotter-home p {
  color: #fff;
  text-decoration: none;
  line-height: 3px;
  text-align: end;
  font-size: 1vw;
}

.fotter-home-1 p {
  color: #fff;
  text-decoration: none;
  line-height: 3px;
  text-align: end;
  font-size: 1vw;
}

.social-media {
  grid-column: 4/5;
  display: flex;
  margin-top: 1.2vw;
}

.social-media ul {
  margin: 0;
  position: relative;
  top: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media ul li {
  text-align: right;
}

.social-media-parent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
}

.social-media-circle {
  display: flex;
  width: 3vw;
  height: 3vw;
  background: #2F4E71;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 1.2vw;
  margin-top: 1vw;
}

.social-media-img-size img {
  max-height: 50%;
  max-width: 50%;

}

@media screen and (max-width: 768px) {
  .fotter-container {
    padding: 0.1vw 3vw;
    background-color: #4e6db9;
  }
  
  .fotter-parent {
    display: flex;
flex-direction: column;
  }
  
  .fotter-touch h1 {
    font-size: 4.5vw;
    letter-spacing: 5px;
  }
  
  .fotter-touchs h1 {
    font-size: 4.5vw;
    letter-spacing: 5px;
    text-align: start;
  }
  
  .fotter-div-2 {
    margin-top: 3vw;
  }
  
  .fotter-icon {
    margin-top: 4.5vw;
  }
  
  .footer-social-media-parent {
    display: flex;
    margin-bottom: 2vw;
  }
  
  .footer-social-media-circle {
    display: flex;
    width: 11vw;
    height: 11vw;
    margin-top: 1vw;
    margin-right: 3vw;
  }
  
  .footer-social-media-img-size img {
    max-height: 50%;
    max-width: 50%;
  }
  
  .fotter-point p {
    color: white;
    letter-spacing: 3px;
    font-size: 3vw;
  }
  
  .bottom-fotter p {
    font-size: 2vw;
  }
  
  .fotter-3-text {
    margin-top: 4vw;
  }
  
  .fotter-home p {
    text-align: start;
    line-height: 8px;
    font-size: 3vw;
    font-weight: 100;
  }
  
  .fotter-home-1 p {
    line-height: 8px;
    text-align: start;
    font-size: 3vw;
    font-weight: 100;
  }
}