/* .footer-section {
  width: 100%;

  background-color: #4e6db9;
  position: relative;
}

.footer-left-section {
  height: 30vw;
  display: flex;
  justify-content: space-between;
}
.footer-center-verticle {
  width: 20vw;
  padding: 2vw;
  margin-top: 3.5vw;
}

.footer-left-section h1 {
  margin-top: 2vw;

  font-size: 1.5vw;
  text-decoration: underline;
  color: white;
}
.footer-left-section p {
  font-size: 1.1vw;
  color: white;
}

.footer-social-media {
  display: flex;
  margin-top: 1.2vw;
}

.footer-social-media ul {
  margin: 0;
  position: relative;
  top: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-social-media ul li {
  text-align: right;
}

.footer-social-media-parent {
  display: flex;
}

.footer-social-media-circle {
  display: flex;
  width: 3vw;
  height: 3vw;
  /* background: white; */
  /* text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 1vw;
  margin-right: 1.5vw;
} */

/* .footer-social-media-img-size img {
  max-height: 50%;
  max-width: 50%;
}

.footer-middle-center-verticle {
  width: 20vw;
  padding: 3vw;
  margin-top: 3vw;
}

.footer-middle-section-list {
  margin-top: 3.5vw;
}
.footer-middle-center-verticle h1 {
  margin-top: 2vw;
  font-size: 1.5vw;
  color: white;
}

.footer-middle-section p {
  font-size: 1vw;
  color: white;
}

.footer-middle-list {
  display: flex;
  margin-top: -2vw;
}

.footer-middle-list p {
  text-transform: capitalize;
  color: white;
  font-size: 1.1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-left: 1vw;
  margin-bottom: 1.5vw;
}

.footer-middle-circle {
  margin-top: 2.2vw;
  display: flex;
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  margin-top: 1.5vw;
}

.footer-right-center-verticle {
  width: 20vw;
  padding: 3vw;
  margin-right: 5vw;
  margin-top: 3vw;
}

.footer-right-center-verticle h1 {
  margin-top: 2vw;
  font-size: 1.5vw;
  color: white;
}
.footer-right-center-verticle p {
  font-size: 1.1vw;
  color: white;
} */
