.test-subject-section {
  width: 100%;
  height: 5vw;
  background: #f46a6f;
  position: relative;
}
.test-subject-parent {
  display: flex;
  justify-content: space-between;
}

.quesion-section {
  display: flex;
}

.question-box {
  border: 5px solid black;
  margin-top: 5vh;
  padding-bottom: 5vh;
  margin-left: 1vw;
}

.quesions-numbers {
  height: auto;
  width: 10%;
  background-color: #e5e7eb;
  margin-top: 0.8vw;
  position: fixed;
  left: 4px;
}

.quesions-numbers .color-green {
  background: green;
  width: 20px;
}

.quesions-numbers a {
  font-size: 1.2vw;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.mutiple-choice-quesions {
  width: 100%;
  height: 90vh;

  margin-top: 1vw;
  margin-left: 9vw;
  padding-left: 10px;
}

.mutiple-choice-quesions p {
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-left: 5vw;
  margin-top: 2vw;
}

.radio-button-form {
  margin-left: 4vw;
}

.radio-button-form span {
  display: inline-block;
  margin-left: 1vw;
  margin-top: 1.5vw;
}

.radio-button-form label {
  font-size: 1.2vw;
}

.button-test-parent {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-left: 5vw;
}


.button-1 {
  padding: 1vw;
}
