.banner-section {
  width: 80%;
  height: 29vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.banner-text-section {
  background-color: #3c2b99;
  font-size: 1vw;
  height: 3.2vw;

  position: relative;
  overflow: hidden;
}
.marquee {
  font-size: 1.2vw;
  text-align: center;
  color: #fff;
  margin-top: .5vw;
  animation: marquee 10s reverse infinite;
  position: absolute;
  right: 0;
}
.paused {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    right: 100%;
  }

  100% {
    right: -100%;
   
  }
}
.banner img {
  width: 100%;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  border: 1px solid #ccc;
  padding: 0.6vw;
  display: block;
  width: 98%;
  height: 92%;
  object-fit: cover;
}
